{% extends "frame.html" %}
{% block content %}
<h1>EC2</h1>
<div>
    <button onclick="window.location.href='{{ url_for('ec2_launch') }}';">Launch Instance</button>
</div>
<div>
    <table border="1">
        <thead>
            <th></th>
            <th>Name</th>
            <th>State</th>
            <th>Public DNS</th>
            <th>SecurityGroup</th>
            <th>KeyName</th>
        </thead>
        {% for s in instance %}
        <tr>
            <td> {{ loop.index }} </td>
            <td> {{ s['Tags'][0]['Value']  }} </td>
            <td> {{ s['State']['Name'] }} </td>
            <td> {{ s['PublicDnsName'] }} </td>
            <td> {{ s['SecurityGroups'][0]['GroupName'] }} </td>
            <td> {{ s['KeyName'] }} </td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}