{% extends "frame.html" %}
{% block content %}
<h1>Launch EC2 Instance</h1>
<form method="POST" name="post_form" action="{{url_for('ec2_launch')}}">
    <table>
        <tr>
            <td>Number:</td>
            <td><input type="text" name="number" value=""></td>
        </tr>
        <tr>
            <td>Image:</td>
            <td>
                <input type="radio" name="image" value="ami-062f7200baf2fa504"> Amazon Linux 2 AMI<br>
                <input type="radio" name="image" value="ami-02b212aba9eb84405"> Windows Server 2019<br>
            </td>
        </tr>
        <tr>
            <td>User Data:</td>
            <td><textarea name="userdata"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Submit</button>
                <button type="reset">Clear</button>
            </td>
        </tr>
    </table>
</form>
{% endblock %}