{% extends "frame.html" %}
{% block content %}
<h1>EC2</h1>
<div>
    <table>
        <tr>
            <td>
                <button onclick="window.location.href='{{ url_for('ec2_launch') }}';">Launch Instance</button>
            </td>
            <td>
                <button onclick="window.location.href='{{ url_for('dashboard_ec2') }}';">Reflash Instance</button>
            </td>
        </tr>
        <tr>
            <form method="POST" name="post_form" action="{{ url_for('dashboard_ec2') }}">
                <button name='action' value='start'>Start All</button>
                <button name='action' value='stop'>Stop All</button>
                <button name='action' value='reboot'>Reboot All</button>
                <button name='action' value='terminate'>Terminate All</button>
            </form>
        </tr>
    </table>
</div>
<div>
    <table border="1">
        <thead>
            <th></th>
            <th>Name</th>
            <th>State</th>
            <th>Public DNS</th>
            <th>SecurityGroup</th>
            <th>KeyName</th>
        </thead>
        {% for s in instance %}
        <tr>
            <td> {{ loop.index }} </td>
            <td>
                {% for t in s['Tags'] %}
                    {{ t['Value'] }}<br>
                {% endfor %}
            </td>
            <td> {{ s['State']['Name'] }} </td>
            <td> {{ s['PublicDnsName'] }} </td>
            <td>
                {% for t in s['SecurityGroups'] %}
                    {{ t['GroupName'] }}<br>
                {% endfor %}
            </td>
            <td> {{ s['KeyName'] }} </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}