{% extends "frame.html" %}
{% block content %}
<h1>Login Page</h1>
<form method="POST" name="post_form" action="/">
    <table>
        <tr>
            <td>name:</td>
            <td><input type="text" name="name" value=""></td>
        </tr>
        <tr>
            <td>password:</td>
            <td><input type="text" name="password" value=""></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Submit</button>
                <button type="reset">Clear</button>
            </td>
        </tr>
    </table>
</form>
{% endblock %}